@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --color-dark-blue:#141932;
    --white:#ffffff;
}
body{
    background-color:var(--color-dark-blue) ;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
.heading{
    text-align: center;
    margin-top: 3rem;
}
.container{
    width: 50%;
    margin: auto;
}
.label-class{
    font-size: larger;
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
}
.input-class{
    width: 40%;
    height: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
}
.btn-check-number{
    padding: 1rem 2.5rem;
    margin-left: 18rem;
    background-color: var(--color-dark-blue);
    color: var(--white);
    border: 1px solid;
    border-radius: 0.25rem;   
}
.output {
    border: 1px solid var(--white);
    width: 40%;
    margin: auto;
    margin-top: 1.5rem;
    height: 5vh;
    padding: 1rem;
    padding-top: 2rem;
    color: black;
    text-align: center;
    font-weight:bold;
    font-size: large;
    background-color: var(--white);
    border-radius: 0.25rem;
}
